# ============================
#  Configuration de l'API
# ============================

# Environnement du serveur Express
ENV_SERVEUR=local

# Adresse utilisée en local
# IP=0.0.0.0
PROTOCOL=http
DOMAIN=localhost

# Port utilisé en local
PORT=3000

# ============================
#  Préfixe de l'API
# ============================

# En local, pas de préfixe
API_PREFIX=/

# ============================
#  Base de données MongoDB
# ============================

# Exemple : mongodb://localhost:27017/port-plaisance
# Exemple avec MongoDB Atlas : mongodb+srv://<username>:<password>@<cluster>.mongodb.net
MONGODB_URI=your-mongodb-connection-string
DBNAME=your-database-name

# ============================
#  Authentification JWT
# ============================

# Exemple : une chaîne aléatoire longue via openssl, node ou autre méthode sécurisée.
# Exemple `openssl`de génération via : openssl rand -hex 64
# Exemple `node` de génération via : node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"
JWT_SECRET=your-jwt-secret-key

# Durée du jeton avant expiration (exemple : 7d pour 7 jours, 24h pour 24 heures)
JWT_EXPIRES_IN=7d

# ============================
#  Gestion des cookies
# ============================

COOKIE_SECURE=false        # true en production HTTPS
COOKIE_HTTP_ONLY=true      # indispensable pour protéger le JWT
COOKIE_SAME_SITE=lax       # protection CSRF + compatibilité navigation
COOKIE_MAX_AGE=24h         # durée de session

# ============================
#  Autres configurations
# ============================
# ============================
#  (Ajoutez d'autres variables d'environnement si nécessaire)
# ============================
