<section>
    <h3>Authentification de l'utilisateur</h3>

    <% if (authenticated) { %>
        <p>Vous êtes connecté.</p>
        <a href="<%= BASE_URL %>/dashboard">Accéder au Dashboard</a>
        <% } else { %>
            <p>Vous n’êtes pas connecté.</p>
            <a href="<%= BASE_URL %>/login">Se connecter</a>
            <% } %>
</section>