<section>
    <h3>Présentation de l'application</h3>

    <ul>
        <% introduction.forEach(line=> { %>
            <li>
                <%= line %>
            </li>
            <% }) %>
    </ul>

</section>