<section class="meta">
    <h3>Informations sur le projet</h3>

    <p>Source : <a href="<%= status.github %>" target="_blank">
            <%= status.github %>
        </a></p>
    <p>Environnement : <%= status.environment %>
    </p>
    <p>Version : <%= status.version %>
    </p>
</section>