<section>
    <h3>Notes de développement</h3>
    <ul>
        <% status.notes.forEach(note=> { %>
            <li>
                <%= note %>
            </li>
            <% }) %>
    </ul>
</section>